[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
gensim = "*"
spacy = "*"
wikipedia = "*"
flask = "*"

[dev-packages]
jupyter = "*"
pylint = "*"
pandas = "*"
pydojoml = "==0.3.5"

[requires]
python_version = "3.7"
