[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
gensim = "*"
spacy = "*"
wikipedia = "*"
flask = "*"
sqlalchemy = "*"
pydojoml = "==0.3.4"

[dev-packages]
jupyter = "*"
pylint = "*"

[requires]
python_version = "3.7"
