<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    	<script src="/static/js/index.js" defer></script>		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	</head>
  	<body>
		<div class="container">
			<div class="document">
		
				<h1>Hi, what are you interested in?</h1>
				<hr class="brace">
					  
				<div id="userInput">
					<input id="textInput" type="text" name="msg" placeholder="Message">
					<img id="speechInput" src="/static/img/mic.png" alt="microphone">
			  	</div>
			</div>
		</div>
  </body>
</html>
