<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	</head>
  	<body>

      	<div id="chatbox">
    		<p class="botText"><span>Hi, what are you interested in?</span></p>
  		</div>

      	<div id="userInput">
    		<input id="textInput" type="text" name="msg" placeholder="Message">
    		<button id="buttonInput">
				<img width="30px" height="30px" src="/static/mic.png" alt="microphone">
			</button>
      	</div>

      	<script>
			var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
			recognition.lang = 'en-US';
			recognition.interimResults = false;
			recognition.maxAlternatives = 5;

    		function getBotResponse(rawText=null) {
				if (rawText === null) {
    				rawText = $("#textInput").val();
				}
				var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
				$("#textInput").val("");
				$("#chatbox").append(userHtml);
				
				  
				$.get("/get", { msg: rawText })
					.done(function(data) {
            			var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            			$("#chatbox").append(botHtml);
					});
			}
			
        	$("#textInput").keypress(function(e) {
        		if(e.which == 13) {
            		getBotResponse();
        		}
        	});

        	$("#buttonInput").click(function() {
				recognition.start();
				recognition.onresult = function(event) {
					getBotResponse(event.results[0][0].transcript);
				};
      			
    		})
		</script>
			  
  </body>
</html>
