<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    	<script src="/static/js/index.js" defer></script>		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	</head>
  	<body>
    	<p class="botText"><span>Hi, what are you interested in?</span></p>

      	<div id="userInput">
    		<input id="textInput" type="text" name="msg" placeholder="Message">
			<img id="speechInput" src="/static/img/mic.png" alt="microphone">
      	</div>
  </body>
</html>
