<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">    
        <link rel="stylesheet" type="text/css" href="/static/css/popup.css">   
    	<script src="/static/js/recommendation.js" defer></script>  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>            
  	</head>
  	<body>

        <div class="box">
            <a id="btn_back" href="#popup1">Go Back</a>
        </div>
            
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Tell me what you think</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Did you liked this article?
                </div>
            </div>
        </div>

        <div class="container">
            <div class="document">

              <h1>Here is what we found about {{ page.title }}</h1>
              <hr class="brace">
              
              <div class="document__content">
                  <p>{{ page.summary }}</p>
                  <p>For more info check out here: {{ page.url }}</p>
              </div>
              
            </div>
        </div>
  </body>
</html>
